%%-*- mode: erlang -*-
{erl_opts, [{parse_transform, lager_transform}]}.
{deps, [
        {vmq_commons, ".*", {git, "git://github.com/erlio/vmq_commons", {branch, "master"}}},
        {poolboy, ".*", {git, "git://github.com/devinus/poolboy", {tag, "1.5.1"}}},
        {epgsql, ".*", {git, "git://github.com/epgsql/epgsql", {tag, "3.1.0"}}}
       ]}.

